.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 14px;
  background-color: rgb(216, 73, 101);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:disabled{
  background-color: rgba(221, 156, 169, 0.473);
  cursor: not-allowed;
}