.container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.boxContainer{
  display: flex;
  gap: 40px;
}

.boxOne{
  flex: 1;
}

.boxTwo{
  flex: 2;
  padding: 10px;
}

.selectBox{
  margin-bottom: 50px;
  margin-left: 50px;
  max-width: fit-content;
}

.select{
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 20px;
  width: max-content;
}

.tagsInputContainer {
  border: 2px solid #1f273a;
  max-width: 80%;
  /* width: min(80vw, 150px); */
  padding: 10px;
  margin-top: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.tagsItem {
  height: 35%;
  max-width: fit-content;
  background-color: #4b6487;
  border-radius: 20px;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.tagsText {
  color: white;
  font-size: 12px;
}

.tagsClose {
  height: 20px;
  width: 20px;
  background-color: #102e57;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;
}

.tagsInput {
  flex-grow: 1;
  padding: 8px 0px;
  border: none;
  outline: none;
  margin: 20px;
  width: min(70vw, 120px);
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
  margin-left: 30px;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  max-width: fit-content;
  left: 50px;
}

.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}