.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.formButton{
  padding: 20px;
  cursor: pointer;
  background-color: #087bea;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton{
    font-weight: 400;
    font-size: 14px;
  }
}