.tagList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tagItem {
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 12px;
  background-color: #89898931;
}